body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(219, 213, 213);
}
h1{
  color: rgb(16, 114, 242);
}

form {
  background-color: white;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding:25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.426);
}

#textbox{
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.641);
  border-radius: 5px;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}
button{
  margin-top: 15px;
  background-color: hsla(0, 100%, 50%, 0.863);
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}
button:hover{
 background-color: hsla(0, 90%, 50%, 0.863);
}

button:active{
  background-color: rgb(19, 239, 19);
}
#result{
  font-size: 1.5em;
  font-weight: bold;
}